{% extends 'base.html' %}

{% block content %}

<div class='col-sm-12' style='text-align: center;'>
    <br>
        <div class="about_img">
            <img src="/media/twitterpicc.png" width="300">            
        </div>
    <br>
        I reside in Cambridge, MA with my wife, 3 kids and 20lb cat.
        I grew up in Maine.
        I studied at <a href="http://tufts.edu">Tufts University</a>.
        Then I worked.
        Then I studied Information Systems at <a href="http://management.bu.edu/">Boston University</a>.
        Then I got married, had kids and worked.
        And here I am.
        Thank you for visiting.
    <br>
    <br>
    <a href="https://github.com/jonathangreenleaf/">
        <img src="/media/GitHub-Mark-64px.png" width="50"></a> 
    <a href="https://www.linkedin.com/in/jonathangreenleaf">
        <img src="/media/linkedin_logo.png" width="50"></a>
    <a href="https://twitter.com/gleafj">
        <img src="/media/Twitter_bird_icon.png" width="50"></a>
    <br>
    <br>
</div>

{% endblock %}