<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ODD Street Safety Challenge</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.ie.css" /><![endif]-->    
    <script src="http://cdn.leafletjs.com/leaflet-0.6/leaflet.js"></script>
    <script src="/static/js/accident_points.js"></script>
    <script src="/static/js/cluster_points.js"></script>
    <link href="/static/css/bike-accidents.css" rel="stylesheet" />   
</head>

<body>

    <div id="main_content" style="align-content: center; position: relative">
        <div id="map_main"></div>
        <div id="title">
            Approach to <a href="/codeexplanation" target="_blank">Street Safety Challenge 2014</a>
        </div>
        <div id="legend">
            <img src="/media/legend.png" width=200px>
        </div>        
    </div>
      
    <script type="text/javascript">
      
        //initialize map with tiles
        var map = L.map('map_main');
        map.setView([42.379983,-71.119983], 14);

        // much thanks to https://github.com/geochasm/Demos/tree/master/leafletjson
        // really helpful post: http://geochasm.com/blog/2013/06/26/multiple-geojson-layers-leaflet/
        var attributionText = 'Tiles Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a> <img src="http://developer.mapquest.com/content/osm/mq_logo.png">'
        attributionText = attributionText + ' data © <a href="http://www.openstreetmap.org/copyright" target="_blank">OpenStreetMap</a> contributors'
        var baseTileLayer = new L.tileLayer('http://otile1.mqcdn.com/tiles/1.0.0/map/{z}/{x}/{y}.jpg', {
            maxZoom: 16,
            attribution: attributionText
        })

        baseTileLayer.addTo(map);

        //this is the onEachFeature function called when the accidents/clusters are added to the map 
        var onEachFeature_Points = function (feature, layer) {                              
            if (feature.properties && feature.properties.popup_detail) {
                console.log(feature.popup_detail);
                var detailPopUp = "<strong>" + feature.properties.popup_detail + "</strong>";
                layer.bindPopup(detailPopUp);
            }
        }

        // load the geojson to the map with marker styling
        L.geoJson(accident_points, {
            onEachFeature: onEachFeature_Points,
            pointToLayer: function (feature, latlng) {
                return L.circle(latlng, 1, {
                        color: 'blue',
                        fillColor: '#000',
                        fillOpacity: 0.5
                    })
            }
        }).addTo(map);

        // clusters:  load the geojson to the map with styling
        L.geoJson(cluster_points, {
            onEachFeature: onEachFeature_Points,
            pointToLayer: function (feature, latlng) {
                return L.circle(latlng, feature.properties.count, {
                        color: 'red',
                        fillColor: '#f03',
                        fillOpacity: 0.5
                    })
            }
        }).addTo(map);

    // per http://stackoverflow.com/questions/22538473/leaflet-center-popup-and-marker-to-the-map
    map.on('popupopen', function(e) {
        var px = map.project(e.popup._latlng); // find the pixel location on the map where the popup anchor is
        px.y -= e.popup._container.clientHeight/1.5 // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
        map.panTo(map.unproject(px),{animate: true}); // pan to new center
    });

    // sign locations
    L.marker([42.3922292350986,-71.1506777252432 ]).addTo(map).bindPopup("<img src='/media/3kids.png' width=300 ><br />That Bicyclist has 3 Kids - Drive Safe<br />11-59 Smith Pl Cambridge, MA 02138");
    L.marker([42.3801602923542,-71.1526796400038 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />691 Huron Ave Cambridge, MA 02138");
    L.marker([42.3835849220165,-71.1386151403212 ]).addTo(map).bindPopup("<img src='/media/bikesarepeople.png' width=300 ><br />Bikes Are People Too<br />134-150 Vassal Ln Cambridge, MA 02138");
    L.marker([42.3749668815907,-71.1480146166517 ]).addTo(map).bindPopup("<img src='/media/coexist.png' width=300 ><br />Coexist With Bikes<br />679-705 Mt Auburn St Cambridge, MA 02138").openPopup();
    L.marker([42.3749403273467,-71.1397208372329 ]).addTo(map).bindPopup("<img src='/media/friendly.png' width=300 ><br />Drive Friendly<br />426-426 Mt Auburn St Cambridge, MA 02138");
    L.marker([42.3752631053072,-71.1458247116513 ]).addTo(map).bindPopup("<img src='/media/shareyourspace.png' width=300 ><br />Share Your Space<br />605-651 Mt Auburn St Cambridge, MA 02138");
    L.marker([42.3940779915131,-71.1405349464799 ]).addTo(map).bindPopup("<img src='/media/hipsterhelmet.png' width=300 ><br />That Hipster Bicyclist Needs a Helmet<br />162-194 Alewife Brook Pkwy Cambridge, MA 02138");
    L.marker([42.3825217008858,-71.1335375051683 ]).addTo(map).bindPopup("<img src='/media/bikesarepeople.png' width=300 ><br />Bikes Are People Too<br />185 Appleton St Cambridge, MA 02138");
    L.marker([42.3973428058189,-71.1332532724212 ]).addTo(map).bindPopup("<img src='/media/doesntseeyou.png' width=300 ><br />That Biker Doesn't See You<br />100-126 Harvey St Cambridge, MA 02140");
    L.marker([42.3895746115401,-71.1318102195413 ]).addTo(map).bindPopup("<img src='/media/makenice.png' width=300 ><br />Make Nice With Bikes<br />6 Blair Pl Cambridge, MA 02140");
    L.marker([42.3925340802376,-71.1264633873545 ]).addTo(map).bindPopup("<img src='/media/bikeslow.png' width=300 ><br />Bike Slow & Boring<br />12-30 Rindge Ave Cambridge, MA 02140");
    L.marker([42.3759227525678,-71.1295068421809 ]).addTo(map).bindPopup("<img src='/media/nohelmet.png' width=300 ><br />No Helmet, No Brains<br />50-74 Foster St Cambridge, MA 02138");
    L.marker([42.3740669145991,-71.1248768937169 ]).addTo(map).bindPopup("<img src='/media/nohelmet.png' width=300 ><br />No Helmet, No Brains<br />140-146 Mt Auburn St Cambridge, MA 02138");
    L.marker([42.38259988939,-71.1272972345357 ]).addTo(map).bindPopup("<img src='/media/traffic.png' width=300 ><br />That Bicyclist isn't Causing This Traffic<br />60 Garden St Cambridge, MA 02138");
    L.marker([42.3785790854147,-71.1221894604048 ]).addTo(map).bindPopup("<img src='/media/swerve.png' width=300 ><br />Anticipate Bike Swerve<br />15-41 Follen St Cambridge, MA 02138");
    L.marker([42.372651895294,-71.1215807925406 ]).addTo(map).bindPopup("<img src='/media/bikeslow.png' width=300 ><br />Bike Slow & Boring<br />1 Eliot St Cambridge, MA 02138");
    L.marker([42.3700038958522,-71.1131326028671 ]).addTo(map).bindPopup("<img src='/media/swerve.png' width=300 ><br />Anticipate Bike Swerve<br />Mt Auburn St Cambridge, MA 02138");
    L.marker([42.383738411556,-71.1195176439691 ]).addTo(map).bindPopup("<img src='/media/coexist.png' width=300 ><br />Coexist With Bikes<br />1712 Massachusetts Ave Cambridge, MA 02138");
    L.marker([42.3734670642976,-71.1193889392172 ]).addTo(map).bindPopup("<img src='/media/nobumpers.png' width=300 ><br />Bikes Have No Bumpers<br />1380-1440 Massachusetts Ave Cambridge, MA 02138");
    L.marker([42.3594107746453,-71.1135711151875 ]).addTo(map).bindPopup("<img src='/media/friendly.png' width=300 ><br />Drive Friendly<br />152-164 Pleasant St Cambridge, MA 02139");
    L.marker([42.3645537912147,-71.1130831207941 ]).addTo(map).bindPopup("<img src='/media/hipsterhelmet.png' width=300 ><br />That Hipster Bicyclist Needs a Helmet<br />280-310 Western Ave Cambridge, MA 02139");
    L.marker([42.3894190268661,-71.1200321091431 ]).addTo(map).bindPopup("<img src='/media/traffic.png' width=300 ><br />That Bicyclist isn't Causing This Traffic<br />1924 Massachusetts Ave Cambridge, MA 02140");
    L.marker([42.372318963448,-71.1086172594403 ]).addTo(map).bindPopup("<img src='/media/bikesarepeople.png' width=300 ><br />Bikes Are People Too<br />407-417 Broadway Cambridge, MA 02138");
    L.marker([42.3752660480815,-71.1127291742776 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />1730 Cambridge St Cambridge, MA 02138");
    L.marker([42.3769265926851,-71.1082985376628 ]).addTo(map).bindPopup("<img src='/media/doesntseeyou.png' width=300 ><br />That Biker Doesn't See You<br />25-35 Roberts Rd Cambridge, MA 02138");
    L.marker([42.3732479407844,-71.1055232755479 ]).addTo(map).bindPopup("<img src='/media/traffic.png' width=300 ><br />That Bicyclist isn't Causing This Traffic<br />63-73 Highland Ave Cambridge, MA 02139");
    L.marker([42.368300979851,-71.1017427976011 ]).addTo(map).bindPopup("<img src='/media/nohelmet.png' width=300 ><br />No Helmet, No Brains<br />135-155 Prospect St Cambridge, MA 02139");
    L.marker([42.3658716977146,-71.1060282468241 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />Green St Cambridge, MA 02139");
    L.marker([42.3570292171691,-71.1074294147869 ]).addTo(map).bindPopup("<img src='/media/coexist.png' width=300 ><br />Coexist With Bikes<br />580-602 Putnam Ave Cambridge, MA 02139");
    L.marker([42.3634171542198,-71.1019345420932 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />34 Brookline St Cambridge, MA 02139");
    L.marker([42.3678705144016,-71.0973598749601 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />199-221 Columbia St Cambridge, MA 02139");
    L.marker([42.3729419847871,-71.0998774824012 ]).addTo(map).bindPopup("<img src='/media/nobumpers.png' width=300 ><br />Bikes Have No Bumpers<br />196-212 Hampshire St Cambridge, MA 02139");
    L.marker([42.3729116181679,-71.0945123607825 ]).addTo(map).bindPopup("<img src='/media/shareyourspace.png' width=300 ><br />Share Your Space<br />1046-1076 Cambridge St Cambridge, MA 02139");
    L.marker([42.3601537163784,-71.094882480266 ]).addTo(map).bindPopup("<img src='/media/traffic.png' width=300 ><br />That Bicyclist isn't Causing This Traffic<br />106-120 Vassar St Cambridge, MA 02139");
    L.marker([42.3673162521069,-71.0925404542915 ]).addTo(map).bindPopup("<img src='/media/swerve.png' width=300 ><br />Anticipate Bike Swerve<br />3-13 Webster Ave Cambridge, MA 02141");
    L.marker([42.3721880358405,-71.0889618627756 ]).addTo(map).bindPopup("<img src='/media/makenice.png' width=300 ><br />Make Nice With Bikes<br />732-766 Cambridge St Cambridge, MA 02141");
    L.marker([42.3647907138853,-71.0894088226398 ]).addTo(map).bindPopup("<img src='/media/nobumpers.png' width=300 ><br />Bikes Have No Bumpers<br />Galilei Way Cambridge, MA 02142");
    L.marker([42.3712326726275,-71.0814928939337 ]).addTo(map).bindPopup("<img src='/media/3kids.png' width=300 ><br />That Bicyclist has 3 Kids - Drive Safe<br />260-324 Cambridge St Cambridge, MA 02141");
    L.marker([42.3621944573598,-71.0842390953248 ]).addTo(map).bindPopup("<img src='/media/swerve.png' width=300 ><br />Anticipate Bike Swerve<br />226-250 Main St Cambridge, MA 02142");
    L.marker([42.3669816452172,-71.0754112388583 ]).addTo(map).bindPopup("<img src='/media/becareful.png' width=300 ><br />Don't Drive Angry - Be [Car]eful<br />57 Land Blvd Cambridge, MA 02141");

    </script>

</body>
</html>

