<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ODD Street Safety Challenge</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.ie.css" /><![endif]-->    
    <script src="http://cdn.leafletjs.com/leaflet-0.6/leaflet.js"></script>
    <link href="/static/css/bike-accidents.css" rel="stylesheet" />   
</head>

<body>
 <div id="explain">
    <img src="/media/coexist.png" width="200">
<p>
I have been biking in and around Cambridge for a decade.  I live here.  My kids go to school here.
I care deeply about bike safety. I pursued this challenge because I have come far too close to 
becoming a statistic in this data set.  
<p>
I think we have an opportunity to use this data to inform a public policy response. 
<p> 
I think an approach where creative signs are posted (at least temporarily)  
around Cambridge could be effective in addressing this issue.
<p>
The question is:  where to post signs?  
<p> 
My approach was to take the address/intersection location data, and use <a href="http://www.postgresql.org/">PostgreSQL</a> and <a href="http://postgis.net/">PostGIS</a>,  
combined with QGis, to visualize the problem.  I installed the former on my AWS free tier, 
and grabbed <a href="https://www.census.gov/geo/maps-data/data/tiger-line.html">TIGER</a> shapefiles for MA, and the <a href="http://www.cambridgema.gov/GIS/gisdatadictionary/Trans/TRANS_Centerlines.aspx">GIS data sets from the City of Cambridge</a>. The PostGIS geocoding functions allowed me to visualize where accidents were happening. I then used a kmeans clustering function to define 50 clusters across Cambridge.
<p>
Next, I looked at street centerlines 'near' the defined clusters, trying to find important intersections. I used PostGIS buffer / overlap / intersection data to identify these:
<br><br>
<img src="/media/qgis_pic.png" width="700px" align="middle">
<p>
Lastly, I wanted a simple way to show the final product. <a href="http://leafletjs.com/">Leaflet.js</a> was selected for this purpose, cutting out a direct db call in favor of exported GeoJSON / lat lon data from Postgres.
<p> 
<b>Conclusion:</b><br>
 I believe most of the 40 proposed locations for signage, as determined by this repeatable (and tunable) approach - would work well.  10 small clusters (those with under 30 accidents) were removed from consideration.  And high traffic streets would obviously be valuable to cross-reference with this output.
<p>
Because this approach combines open data and statistics, this exercise is not only repeatable in other communities, but also it can be refined over time.  This is meant to apply some 'science' to the problem, but this <i>does not</i> preclude sign placements a block or 2 away from the precise recommended placement here.
<p>
Finally, I belive the message on these signs should be a mix of memorable, unique and cheeky. The signs I created and posted in the U/I should reflect this.  They would give me pause, and raise my awareness, whether I was biking or driving in Cambridge.
<p>
Thank you for bringing attention to this issue.
<p>

jonathan greenleaf
Cambridge, MA
<br>
code is shared <a href="https://github.com/jonathangreenleaf/odd_accidents">here</a>
<br>
final product is (at least for now) also posted <a href="http://ngreenleaf.com/accidents/bike_accidents.html">here</a>
</div>
</body>
</html>

