<link rel="stylesheet" href="http://pygments.org/_static/pygments.css" type="text/css" />

{% extends 'base.html' %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <p>this is useful code for string parsing a la data science</p>
        <!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>
    
{% endblock %}

{% block content %}
<br>
<br>
    
    <div class="highlight"><pre><span class="sd">&#39;&#39;&#39;</span>
    <span class="sd">clone this awesome repo</span>
    <span class="sd">https://github.com/ianozsvald/string_distance_metrics</span>
    <span class="sd">&#39;&#39;&#39;</span>
    
    <span class="kn">from</span> <span class="nn">BeautifulSoup</span> <span class="kn">import</span> <span class="n">BeautifulSoup</span>
    <span class="kn">import</span> <span class="nn">urllib2</span>
    
    <span class="n">url</span> <span class="o">=</span> <span class="s">&#39;http://www.cnn.com&#39;</span>
    <span class="n">page</span> <span class="o">=</span> <span class="n">urllib2</span><span class="o">.</span><span class="n">urlopen</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
    <span class="n">soup</span> <span class="o">=</span> <span class="n">BeautifulSoup</span><span class="p">(</span><span class="n">page</span><span class="o">.</span><span class="n">read</span><span class="p">())</span>
    <span class="n">t1</span> <span class="o">=</span> <span class="n">soup</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="s">&quot;div&quot;</span><span class="p">,</span> <span class="p">{</span><span class="s">&quot;class&quot;</span><span class="p">:</span> <span class="s">&quot;cnn_main10t1lcntr&quot;</span><span class="p">})</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="s">&#39;h1&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">text</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s">&#39;utf-8&#39;</span><span class="p">)</span>
    <span class="k">print</span> <span class="s">&#39;CNN has: &#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">t1</span><span class="p">)</span>
    
    <span class="n">url</span> <span class="o">=</span> <span class="s">&#39;http://www.aol.com&#39;</span>
    <span class="n">page</span> <span class="o">=</span> <span class="n">urllib2</span><span class="o">.</span><span class="n">urlopen</span><span class="p">(</span><span class="n">url</span><span class="p">)</span>
    <span class="n">soup</span> <span class="o">=</span> <span class="n">BeautifulSoup</span><span class="p">(</span><span class="n">page</span><span class="o">.</span><span class="n">read</span><span class="p">())</span>
    <span class="n">t2</span> <span class="o">=</span> <span class="n">soup</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="s">&quot;div&quot;</span><span class="p">,</span> <span class="p">{</span><span class="s">&quot;class&quot;</span><span class="p">:</span> <span class="s">&quot;main-section sourceImg-&quot;</span><span class="p">})</span><span class="o">.</span><span class="n">find</span><span class="p">(</span><span class="s">&#39;h2&#39;</span><span class="p">)</span><span class="o">.</span><span class="n">text</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s">&#39;utf-8&#39;</span><span class="p">)</span>
    <span class="k">print</span> <span class="s">&#39;AOL has: &#39;</span> <span class="o">+</span> <span class="nb">str</span><span class="p">(</span><span class="n">t2</span><span class="p">)</span>
    
    <span class="k">print</span> <span class="s">&#39;bigram distance comparison AOL v CNN:&#39;</span>
    <span class="n">dist</span> <span class="o">=</span> <span class="n">string_distance_measures</span><span class="o">.</span><span class="n">distance_bigrams_same</span><span class="p">(</span><span class="n">t1</span><span class="p">,</span> <span class="n">t2</span><span class="p">)</span>
    <span class="k">print</span> <span class="n">dist</span>
    
    <span class="k">print</span> <span class="s">&#39;cosine distance comparison AOL v CNN:&#39;</span>
    <span class="n">dist</span> <span class="o">=</span> <span class="n">string_distance_measures</span><span class="o">.</span><span class="n">distance_cosine_measure</span><span class="p">(</span><span class="n">t1</span><span class="p">,</span> <span class="n">t2</span><span class="p">)</span>
    <span class="k">print</span> <span class="n">dist</span>
    </pre></div>  
      

{% endblock %}
